<!DOCTYPE html>
<html lang="zxx" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <title>Mum Express</title>
    <!--/tags -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="keywords" content=""/>
    <script>
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    <!--//tags -->
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet" type="text/css" media="all"/>
    <link th:href="@{/css/style.css}" rel="stylesheet" type="text/css" media="all"/>
    <link th:href="@{/css/font-awesome.css}" rel="stylesheet">
    <!--pop-up-box-->
    <link th:href="@{/css/popuo-box.css}" rel="stylesheet" type="text/css" media="all"/>
    <!--//pop-up-box-->
    <!-- price range -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/jquery-ui1.css}">
    <!-- fonts -->
    <link href="//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800}" rel="stylesheet">
    <link href="@{/fonts/FontAwesome.otf}">
</head>

<body>

<!-- HEADER STARTS-->

<!-- MUM EXPRESS AND LOGO -->
<div class="header-bot">
    <div class="header-bot_inner_wthreeinfo_header_mid">
        <!-- header-bot-->
        <div class="col-md-4 logo_agile">
            <h1>
                <a th:href="@{/}">
                    <span>M</span>UM
                    <span>E</span>XPRESS
                    <img th:src="@{/img/logo2.png}" alt=" ">
                </a>
            </h1>
        </div>

    </div>
    <div class="clearfix"></div>
</div>
<!-- MUM EXPRESS AND LOGO -->

<!-- AUTHORIZATION AND NAV LINK -->
<div class="ban-top">
    <div class="container">
        <div class="top_nav_left">
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                                data-target="#bs-example-navbar-collapse-1"
                                aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse menu--shylock" id="bs-example-navbar-collapse-1">
                        <ul sec:authorize="!(isAuthenticated())" class="nav navbar-nav menu__list">
                            <li class="active">
                                <a class="nav-stylehead" th:href="@{/}"><i class="fa fa-home"></i> Home
                                    <span class="sr-only">(current)</span>
                                </a>
                            </li>
                            <li class="">
                                <a class="nav-stylehead" th:href="@{/login}"><span class="fa fa-unlock-alt"
                                                                                   aria-hidden="true"></span> Login</a>
                            </li>
                            <li class="">
                                <a class="nav-stylehead" th:href="@{/register_input}"><span
                                        class="fa fa-pencil-square-o" aria-hidden="true"></span> Sign up</a>
                            </li>
                        </ul>
                        <ul sec:authorize="hasAuthority('SELLER')" class="nav navbar-nav menu__list">
                            <li class="active">
                                <a class="nav-stylehead" th:href="@{/}"><i class="fa fa-home"></i> Home
                                    <span class="sr-only">(current)</span>
                                </a>
                            </li>
                            <li class="">
                                <a class="nav-stylehead" th:href="@{/products}"><i class="fa fa-cubes"></i> Products</a>
                            </li>
                            <li class="">
                                <a class="nav-stylehead" th:href="@{/seller/orders}"><i class="fa fa-file-text-o"></i>
                                    Orders</a>
                            </li>
                            <li class="">
                                <a class="nav-stylehead" th:href="@{/users/followerList}"><i class="fa fa-users"></i>
                                    Followers</a>
                            </li>
                            <li class="">
                                <a class="nav-stylehead" th:href="@{/profile/{id} (id = ${session.user.id})}"><i
                                        class="fa fa-user-circle-o"></i> Profile</a>
                            </li>
                            <li class="">
                                <form action="#" th:action="@{/logout}" method="post">
                                    <input type="submit" class="btn btn-danger btn-logoff" value="Logout" />
                                </form>
                            </li>
                        </ul>
                        <ul sec:authorize="hasAuthority('BUYER')" class="nav navbar-nav menu__list">
                            <li class="active">
                                <a class="nav-stylehead" th:href="@{/}"><i class="fa fa-home"></i> Home
                                    <span class="sr-only">(current)</span>
                                </a>
                            </li>
                            <li class="">
                                <a class="nav-stylehead" th:href="@{/buyer/cart}"><i class="fa fa-shopping-cart"
                                                                                     aria-hidden="true"></i>
                                    Cart</a>
                            </li>
                            <li class="">
                                <a class="nav-stylehead" th:href="@{/profile/{id} (id = ${session.user.id})}"><i
                                        class="fa fa-user-circle-o"></i> Profile</a>
                            </li>
                            <li class="">
                                <a class="nav-stylehead" th:href="@{/buyer/orders}"><i class="fa fa-file-text-o"></i>
                                    Orders</a>
                            </li>
                            <li class="">
                                <form action="#" th:action="@{/logout}" method="post">
                                    <input type="submit" class="btn btn-danger btn-logoff" value="Logout" />
                                </form>
                            </li>
                        </ul>
                        <ul sec:authorize="hasAuthority('ADMIN')" class="nav navbar-nav menu__list">
                            <li class="active">
                                <a class="nav-stylehead" th:href="@{/}"><i class="fa fa-home"></i> Home
                                    <span class="sr-only">(current)</span>
                                </a>
                            </li>
                            <li class="">
                                <a class="nav-stylehead" th:href="@{/admin/users/SellerList}"><i
                                        class="fa fa-user-circle-o"></i> Admin Page</a>
                            </li>
                            <li class="">
                                <form action="#" th:action="@{/logout}" method="post">
                                    <input type="submit" class="btn btn-danger btn-logoff" value="Logout" />
                                </form>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </div>
</div>
<!-- AUTHORIZATION AND NAV LINK -->


<!-- HEADER ENDS-->

<div class="container" id="manageorders">
    <h3 class="tittle-w3l">Manage Orders
        <span class="heading-style">
					<i></i>
					<i></i>
					<i></i>
				</span>
    </h3>


    <div class="result" th:if="${result}" align="center">
        <h2 class="text-warning">Order Canceled!</h2>
        <h3 class="text-light">Your payment will be returned to you.</h3>
    </div>

    <div class="result" th:if="${added}" align="center">
        <h2 class="text-info">Thank you for buying!</h2>
        <h3 class="text-light">New order added!</h3>
    </div>

    <div th:each="userOrder: ${orders}" style="margin-top:30px;">
        <p>
            <strong><span>Order Number: </span></strong><span th:text="${userOrder.id}"></span>
            <br/>
            <strong><span>Shipping Address: </span></strong><span
                th:text="${userOrder.buyer.shippingAddress.street}"></span>
            <br/>
            <span th:text="${userOrder.buyer.shippingAddress.city}"></span> &nbsp;
            <span th:text="${userOrder.buyer.shippingAddress.state}"></span>
            <br/>
            <span th:text="${userOrder.buyer.shippingAddress.zipCode}"></span>
            <br/>
            <strong><span>Ordered On: </span></strong><span th:text="${userOrder.createDate}"></span><br/>
            <span th:if="${userOrder.deliveryDate} != null"><strong>Shipping Date</strong>
    <span th:text="${userOrder.deliveryDate}"></span></span><br/>

            <strong><span>Order Status: </span></strong><span th:text="${userOrder.status}"></span>
        </p>


        <table class="table table-hover">
            <thead>
            <tr>
                <th>item#:</th>
                <th>Product Name</th>
                <th>Seller Name</th>
                <th>Price</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="prod: ${userOrder.cart.productList}">
                <td><img class="media-object" th:src="@{${'/img/'+prod.productImage}}"
                         style="width: 62px; height: 62px;"></td>
                <td><span th:if="${prod.seller.id} == ${userOrder.seller.id}" th:text="${prod.name}"></span></td>
                <td><span th:if="${prod.seller.id} == ${userOrder.seller.id}" th:text="${prod.seller.name}"></span></td>
                <td><span th:if="${prod.seller.id} == ${userOrder.seller.id}" th:text="${prod.price}"></span></td>

            </tr>


            </tbody>
            <strong><h3 class="pull-right" th:text="'Total: $' + ${userOrder.total}"></h3></strong>
        </table>


        <span th:if="${userOrder.deliveryDate} != null" th:text="'Shipping date: ' + ${userOrder.deliveryDate}"></span>

        <div th:if="${userOrder.status} == 'waiting'">


            <form method="post" th:action="@{/buyer/order/{id}/cancel (id = ${userOrder.id})}">
                <input type="submit" class="btn btn-danger" value="Cancel Order" style="margin:5px 0px 10px 0px"/>
            </form>
        </div>
        <a th:if="${userOrder.status} != 'waiting'" th:href="@{/files/Order-{id}.pdf (id = ${userOrder.id})}"
           target="_blank">Download Order</a>
        <br/>

        <hr>


    </div>


</div>
<!--End of Container-->
<!-- FOOTER -->
<div class="copy-right">
    <div class="container">
        <p>&nbsp;&nbsp;&nbsp;Email: mumexpress@gmail.com &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            Phone: 641 451 85 69</p>
        <p>Copyright ©2019 MUM Express. &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;All rights reserved.</p>
    </div>
</div>
<!-- FOOTER -->

<!-- js-files -->
<!-- jquery -->
<script th:src="@{/js/jquery-2.1.4.min.js}"></script>
<!-- //jquery -->

<!-- popup modal (for signin & signup)-->
<script th:src="@{/js/jquery.magnific-popup.js}"></script>
<script>
    $(document).ready(function () {
        $('.popup-with-zoom-anim').magnificPopup({
            type: 'inline',
            fixedContentPos: false,
            fixedBgPos: true,
            overflowY: 'auto',
            closeBtnInside: true,
            preloader: false,
            midClick: true,
            removalDelay: 300,
            mainClass: 'my-mfp-zoom-in'
        });

    });
</script>


<!-- smoothscroll -->
<script th:src="@{/js/SmoothScroll.min.js}"></script>
<!-- //smoothscroll -->

<!-- start-smooth-scrolling -->
<script th:src="@{/js/move-top.js}"></script>
<script th:src="@{/js/easing.js}"></script>
<script>
    jQuery(document).ready(function ($) {
        $(".scroll").click(function (event) {
            event.preventDefault();

            $('html,body').animate({
                scrollTop: $(this.hash).offset().top
            }, 1000);
        });
    });
</script>
<!-- //end-smooth-scrolling -->


<!-- imagezoom -->
<script th:src="@{/js/imagezoom.js}"></script>
<!-- //imagezoom -->

<!-- FlexSlider -->
<script th:src="@{/js/jquery.flexslider.js}"></script>
<script>
    // Can also be used with $(document).ready()
    $(window).load(function () {
        $('.flexslider').flexslider({
            animation: "slide",
            controlNav: "thumbnails"
        });
    });
</script>
<!-- //FlexSlider-->

<!-- flexisel (for special offers) -->
<script th:src="@{/js/jquery.flexisel.js}"></script>
<script>
    $(window).load(function () {
        $("#flexiselDemo1").flexisel({
            visibleItems: 3,
            animationSpeed: 1000,
            autoPlay: true,
            autoPlaySpeed: 3000,
            pauseOnHover: true,
            enableResponsiveBreakpoints: true,
            responsiveBreakpoints: {
                portrait: {
                    changePoint: 480,
                    visibleItems: 1
                },
                landscape: {
                    changePoint: 640,
                    visibleItems: 2
                },
                tablet: {
                    changePoint: 768,
                    visibleItems: 2
                }
            }
        });

    });
</script>
<!-- //flexisel (for special offers) -->

<!-- for bootstrap working -->
<script th:src="@{/js/bootstrap.js}"></script>

<!-- //for bootstrap working -->
<!-- //js-files -->

</body>
</html>



